{% extends 'main/base.html' %}

<!-- TODO translation -->

{% block mainSiteContent %}

<div class="container text-center">
    <h1 class="mt-3"><b>About NPWS</b></h1>
    <hr>
    <h3>We are bringing the <u>net</u> back into internet.</h3>
    <hr>
    <p>
        <strong>
			NPWS is an independent search engine built in Prague in 2025 with a simple goal:
		</strong>
		<br>
		Help people find what they’re looking for—without watching their every move.
    </p>
    <hr>
    <h3>NPWS in numbers</h3>
	<div class="container mb-1">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<h1>1</h1>
				<p> 
					regular user
				</p>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<h1>0</h1>
				<p>
					years of experience
				</p>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<h1>a lot</h1>
				<p>
					of pain while coding this
				</p>
			</div>
			<div class="col-12 col-sm-12 col-md-3 col-lg-3">
				<h1>0%</h1>
				<p>
					vibe coded
				</p>
			</div>
		</div>
	</div>
	<hr>
	<h3>Our mission</h3>
	<div class="container mb-1">
		<p>
			We believe search should work for you, not the other way around. That’s why NPWS is built from the ground up to protect your privacy, stay transparent, and offer clean, useful results—no tracking, no profiling, no hidden agendas.
			We’re not trying to “personalize” your experience based on what we think we know about you. We don’t know who you are, and we like it that way.
		</p>
	</div>
	<hr>
	<h3>What about the others?</h3>
	<div class="container mb-1">
		<p>
			Most search engines today are massive data-collection machines with search bolted on as a feature. At NPWS, we flipped that around. We started with search—the kind that's fast, open, and fair—and left the surveillance economy behind.
			We’re a small team based in Prague, and we like it that way. No big boards, no venture capital overlords. Just people building tools they’d want to use themselves.
		</p>
	</div>
	<hr>
	<h3>What makes us stand out from the rest of the engines?</h3>
	<div class="container mb-1">
		<p>
			<ul>
				<li>No tracking – We don’t store your searches, follow you around, or build a profile on you.</li>
				<li>Independent index – We crawl and index the web ourselves. That means we’re not just repackaging someone else’s results.</li>
				<li>Simple interface – Fast, focused, and free of clutter.</li>
				<li>uropean roots, global mindset – We're proudly based in Prague, but built for anyone who cares about privacy and independence.</li>
			</ul>
		</p>
	</div>
	<hr>
	<h3>Contact information</h3>
	<div class="container mb-1">
		<p>
			Email: martin.bykov.s@gyarab.cz
		</p>
	</div>
</div>

{% endblock %}

<!-- TODO long about page about stuff -->