{% extends 'main/base.html' %}

{% block mainSiteContent %}

<div class="container text-center">
    <h1><b>About NPWS</b></h1>
    <hr>
    <h3>We are bringing the <u>net</u> back into internet.</h3>
    <hr>
    <p>
        NPWS was founded in 2025 in Prague. Since then
    </p>
    <hr>
    <h3>NPWS in numbers</h3>
	<div class="container mb-1">
		<div class="row">
			<div class="col-12 col-sm-12 col-md-4 col-lg-4 ">
				<p> 
					Future about us page.
				</p>
			</div>
			<div class="col-12 col-sm-12 col-md-8 col-lg-8">
				<p>
					Will have stuff at some point.
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}